.blog-list{
    margin: 10px;
    padding: 0px 5px;
    border-bottom: 3px solid red;
}
.blog-list h3{
    font-size: 22px;
    color: #98002e
}

.blog-preview{
    margin: 5px;
    margin-bottom: 0%;
    padding: 10px 15px;
    border-bottom: 1px solid #d8737384;
}

.blog-preview:hover{
    box-shadow: 2px 2px 2px #de8181 inset;
}

.blog-preview h4{
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 5px;
}

.blog-preview a{
    text-decoration: none;
}
